#topbar
    #topbar-content
        a(href="#logout")
            img(src="img/logout.png")
            span Déconnexion
        a(href="#profile")
            img(src="img/profile.png")
            span Profil
        a(href="/apps/contacts/")
            img(src="img/contact.png")
            span Contacts
        a
          img(src="img/photo.png")
          span Photos
        a(href="/")
          img(src="img/files.png")
          span Fichiers

div.albumitem.create
  a(href="#albums/new")
      img(src="img/new-galery.png")
      br
      span= t('Create a new album')

p.help= t('There is no public albums.')
